
body::-webkit-scrollbar { width: 0 !important }
body {
    margin:0;
}

.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

li {
    float: left;
}

th a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
    font-size: 18px;
}

.main {
    margin-top: -370px;
    margin-left: 80px;
    margin-right: 30px;
    margin-bottom: 50px;
}

.main-header{
    border: 2px solid #4CAF50;
    background-color: #4CAF50 !important;
    color: white;
    font-family: "Arial";
    font-size: 18px;
    padding: 12px;
}

.main-content{
    border: 3px solid lightgrey;
    padding: 25px;
}

.icon-bar {
    margin: 0px;
    margin-top: 100px;
    width: 60px;
    text-align: center;
    background-color: #555;
}

.icon-bar a {
    padding: 16px;
    display: block;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #4CAF50 !important;
}
